.form{
  display: flex;
  flex-direction: column;
}

[mat-flat-button]{
  margin-right: 10px;
}

.pwSpan{
  font-size: 0.9em;
}

.weak{
  color: #f44336; //warn
}

.medium{
  color: #ff4081; //accent
}

.good {
  color: #673ab7; //primary
}
