<mat-dialog-content>
    <form class="form"  #bucketForm="ngForm">
        <mat-form-field class="example-full-width">
            <input matInput [type]="hide ? 'password' : 'text'" name="password" placeholder="Inserisci password" required [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Nascondi password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div>
            <button style="float: right" mat-flat-button color="primary" (click)="addWithPassword()">Carica File</button>
            <button style="float: right" mat-flat-button color="secondary" (click)="addFile()">Carica senza password</button>
            <!--      <button [disabled]="bucketForm.invalid" style="float: right" mat-flat-button color="warn" (click)="createBucket()">Crea Bucket</button>-->
        </div>
    </form>
</mat-dialog-content>