<mat-dialog-content>
    <form class="form"  #bucketForm="ngForm">
        <mat-form-field class="example-full-width">
            <input type="password" matInput name="password" placeholder="Inserisci Password" required [(ngModel)]="password">
        </mat-form-field>
        <div>
            <button style="float: right" mat-flat-button color="primary" (click)="setPassword()">Carica File</button>
            <button style="float: right" mat-flat-button color="secondary" (click)="setPassword()">Carica senza password</button>
            <!--      <button [disabled]="bucketForm.invalid" style="float: right" mat-flat-button color="warn" (click)="createBucket()">Crea Bucket</button>-->
        </div>
    </form>
</mat-dialog-content>

