<!-- TODO: Trovare stile e posizione adatti allo spinner! -->
<div *ngIf="showLoading" class="loading">
    <span>{{currentAction}} in corso...</span>
    <span *ngIf="currentAction == 'Upload'"> ({{percentage}}%)</span>
</div>

<div style="display: flex;">
    <p class="breadcrumb" [routerLink]="['/'+team+'/'+bucket]">/{{bucket}}</p><p class="breadcrumb" [routerLink]="['/'+team+'/'+bucket+'/'+getPathForLink(i)]" *ngFor="let path of folderList; let i = index;">/{{path.path}}</p>
</div>
<div style="position:relative; overflow: hidden auto; width: 100%; height: 100%">

    <app-upload-file [files]="files" (onUpload)="uploadFileEvent($event)">
        <div style="position:absolute; width: 100%; height: 100%">
            <div  class="files-list d-flex" *ngFor="let file of files?.childs; let i= index">
                <div *ngIf="file.type == 'CONTENT' && file.name == (file.name | extensionCrypt)" class="file-list-item">
                    <p class="flex-1" (click)="download(file)" >
                        <mat-icon>insert_drive_file</mat-icon>
                        {{file.name}}
                    </p>
                    <button class="delete-file" (click)="download(file)">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
<!--                    <button class="delete-file" (click)="deleteAttachment(i)">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
                </div>
                <div *ngIf="file.type == 'CONTENT' && file.name != (file.name | extensionCrypt)" class="file-list-item">
                    <p class="flex-1" (click)="downloadCrypt(file)" >
                        <mat-icon>insert_drive_file</mat-icon>
                        <mat-icon color="warn">lock</mat-icon>
                        {{file.name | extensionCrypt}}
                    </p>
                    <button class="delete-file" (click)="downloadCrypt(file)">
                        <mat-icon>cloud_download</mat-icon>
                    </button>
<!--                    <button class="delete-file" (click)="deleteAttachment(i)">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
                </div>
                <div *ngIf="file.type == 'FOLDER'" class="file-list-item">
                    <p [routerLink]="[file.uniqueKey]" class="flex-1"><mat-icon>folder</mat-icon> {{ file.name }} </p>
<!--                    <button class="delete-file" (click)="deleteAttachment(i)">-->
<!--                        <mat-icon>delete</mat-icon>-->
<!--                    </button>-->
                </div>
            </div>
        </div>
    </app-upload-file>
</div>